# Токен от @BotFather
BOT_TOKEN=8799905916:AAEqm9aponcCtwDrLs9q6Nf7i0iOqsV3lB4

# Твой Telegram ID (узнаёшь у @userinfobot)
ADMIN_ID=485040439

# Telegram ID девушки (узнаёшь у @userinfobot)
GIRL_ID=1993485377

# Имя девушки (показывается на аукционе)
GIRL_NAME=Дашенька